name: Shell Commands

on: [push]
jobs:
  run-shell-commands: 
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello World"
      - name: multiple commands
        run: |
          node -v
          npm -v
